@use "../../vars";

.slider {
    margin-bottom: 80px;
}

.text {
    text-align: left;
    .title {
        font-size: 45px;
        font-weight: bold;
    }
    .sub-title {
        color: vars.$whiteGrey;
        background-color: transparent;
    }
    .castGenreList {
        color: vars.$netflixWhite;
    }
}

.carousel-item {
    max-height: 500px;
    max-width: 100%;
    overflow: hidden;
    img {
        object-fit: cover; 
        width: 100%; 
        height: 550px; 
    }
}


@include vars.addListBtn;