@use "vars";
@use "./Global/Footer/index" as footer;
@use "./Global/Nav/index" as nav;
@use "./LandingPage/index" as landing;
@use "./SearchPage/index" as search;
@use "./MoviePage/index" as movie;

/* Global */
* {
  margin: 0;
  bottom: 0;
  color: #fff;
  list-style: none;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

#root {
  background: vars.$netflixBlack;
}

body {
  width: 100%;
}
